* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    background-color: #FCFCF3;
    body {
        width: 100vw;
        height: 100vh;
        height: 100dvh; //iPhone ios15で登場した，ULRバーなどを除いたvhを表す単位
        font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
        .first-animation {
            width: 100%;
            height: 100%;
            position: relative;
            perspective: 1000px;
            .flame {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: min(20vh * 2 + 15px, 20vw * 2 + 15px);
                height: min(20vh * 3 + 15px, 20vw * 3 + 15px);
                border-radius: 20px;
                border: solid black 1px;
            }
            .block-one {
                position: absolute;
                top: 50%;
                left: 50%;
                width: min(20vh * 2, 20vw * 2);
                height: min(20vh * 3, 20vw * 3);
                background-color: lightblue;
                border-radius: 20px;
                animation-name: block-one;
                animation-duration: 10s;
                animation-timing-function: cubic-bezier(.17, .32, .29, .94);
                animation-fill-mode: both;
                will-change: animation;
            }
            .block-two {
                position: absolute;
                top: 50%;
                left: 50%;
                width: min(20vh * 2, 20vw * 2);
                height: min(20vh * 3, 20vw * 3);
                background-color: lightgreen;
                border-radius: 20px;
                animation-name: block-two;
                animation-duration: 10s;
                animation-timing-function: cubic-bezier(.17, .32, .29, .94);
                animation-fill-mode: both;
                will-change: animation;
            }
            .block-three {
                position: absolute;
                top: 50%;
                left: 50%;
                width: min(20vh * 2, 20vw * 2);
                height: min(20vh * 3, 20vw * 3);
                background-color: lightcoral;
                border-radius: 20px;
                animation-name: block-three;
                animation-duration: 10s;
                animation-timing-function: cubic-bezier(.17, .32, .29, .94);
                animation-fill-mode: both;
                will-change: animation;
            }
            .block-four {
                position: absolute;
                top: 50%;
                left: 50%;
                width: min(20vh * 2, 20vw * 2);
                height: min(20vh * 3, 20vw * 3);
                background-color: lightseagreen;
                border-radius: 20px;
                animation-name: block-four;
                animation-duration: 10s;
                animation-timing-function: cubic-bezier(.17, .32, .29, .94);
                animation-fill-mode: both;
                will-change: animation;
            }
            .block-five {
                position: absolute;
                top: 50%;
                left: 50%;
                width: min(20vh * 2, 20vw * 2);
                height: min(20vh * 3, 20vw * 3);
                background-color: lightgray;
                border-radius: 20px;
                animation-name: block-five;
                animation-duration: 10s;
                animation-timing-function: cubic-bezier(.17, .32, .29, .94);
                animation-fill-mode: both;
                will-change: animation;
            }
            .circle-one {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: lightgray;
                animation-name: circle-one;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-fill-mode: both;
                will-change: animation;
            }
            .circle-two {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: lightpink;
                animation-name: circle-two;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-fill-mode: both;
                will-change: animation;
            }
            .circle-three {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-image: linear-gradient(to top right, #a18cd1 0%, #fbc2eb 100%);
                animation-name: circle-three;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-fill-mode: both;
                will-change: animation;
            }
        }
        .content {
            background-color: #FCFCF3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            animation-name: content;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-fill-mode: both;
            will-change: animation;
            .line {
                width: calc(100% - 25px);
                height: calc(100% - 25px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: solid black 1px;
                padding: 5px;
                header {
                    position: relative;
                    width: 100%;
                    height: 50px;
                    .AMR-icon {
                        width: 50px;
                        height: 50px;
                        background-color: lightblue;
                        display: inline-block;
                    }
                    .name {
                        display: inline-block;
                        line-height: 50px;
                        vertical-align: top;
                        font-size: large;
                    }
                    .home-button {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        background-image: url(../../images/home/home-button.svg);
                        background-repeat: no-repeat;
                        background-size: 80%;
                        background-position: center;
                        background-color: #FCFCF3;
                        cursor: pointer;
                        right: 0;
                        display: inline-block;
                        border: none;
                        transition: 0.25s;
                        border-radius: 10px;
                        &:hover {
                            background-color: #d0e3f2;
                        }
                    }
                }
                .home {
                    width: 100%;
                    height: calc(100% - 55px);
                    margin-top: 5px;
                    background-color: lightgray;
                }
            }
        }
    }
}

@keyframes block-one {
    0% {
        transform: translate3d(-50%, -50%, 400px) rotateX(25deg) rotateY(40deg);
        opacity: 0;
    }
    8% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes block-two {
    0% {
        transform: translate3d(-50%, -50%, 400px) rotateX(-20deg) rotateY(60deg);
        opacity: 0;
    }
    2% {
        transform: translate3d(-50%, -50%, 400px) rotateX(-20deg) rotateY(60deg);
        opacity: 0;
    }
    10% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes block-three {
    0% {
        transform: translate3d(-50%, -50%, 400px) rotateX(25deg) rotateY(-40deg);
        opacity: 0;
    }
    4% {
        transform: translate3d(-50%, -50%, 400px) rotateX(25deg) rotateY(-40deg);
        opacity: 0;
    }
    12% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes block-four {
    0% {
        transform: translate3d(-50%, -50%, 400px) rotateX(60deg) rotateY(-80deg);
        opacity: 0;
    }
    6% {
        transform: translate3d(-50%, -50%, 400px) rotateX(60deg) rotateY(-80deg);
        opacity: 0;
    }
    14% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes block-five {
    0% {
        transform: translate3d(-50%, -50%, 400px) rotateX(-50deg) rotateY(-40deg);
        opacity: 0;
    }
    8% {
        transform: translate3d(-50%, -50%, 400px) rotateX(-50deg) rotateY(-40deg);
        opacity: 0;
    }
    16% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes circle-one {
    0% {
        width: 0;
        height: 0;
    }
    20% {
        width: 0;
        height: 0;
    }
    25% {
        width: max(125vw, 125vh);
        height: max(125vw, 125vh);
    }
    100% {
        width: max(125vw, 125vh);
        height: max(125vw, 125vh);
    }
}

@keyframes circle-two {
    0% {
        width: 0;
        height: 0;
    }
    22% {
        width: 0;
        height: 0;
    }
    27% {
        width: max(125vw, 125vh);
        height: max(125vw, 125vh);
    }
    100% {
        width: max(125vw, 125vh);
        height: max(125vw, 125vh);
    }
}

@keyframes circle-three {
    0% {
        width: 0;
        height: 0;
    }
    24% {
        width: 0;
        height: 0;
    }
    29% {
        width: max(125vw, 125vh);
        height: max(125vw, 125vh);
    }
    100% {
        width: max(125vw, 125vh);
        height: max(125vw, 125vh);
    }
}

@keyframes content {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}